<div class="container">
<div class="contenedor__agregar">
<h1>agregar</h1>
    <form action="" id="agregar">
        <label for="">title</label>
        <input id="title" type="text">
        <br>
        <label for="">description</label>
        <input id="desc" type="text">
        <br>
        <label for="">code</label>
        <input id="code" type="text">
        <br>
        <label for="">price</label>
        <input id="price" type="number">
        <br>
        <label for="">status</label>
        <input id="status" type="text">
        <br>
         <label for="">stock</label>
        <input id="stock" type="number">
        <br>
        <label for="">category</label>
        <input id="cat" type="text">
        <br>
        <label for="">img</label>
        <input id="img" type="text">
        <br>
    <button type="submit" id="">agregar</button>
    </form>
</div>
<div class="contenedor__eliminar">
<h1>Eliminar</h1>
    <form action="">
        <label for="">id</label>
        <input type="text" id="id_eliminar">
        <button type="button" id="eliminar">eliminar</button>
        <br>
      
        <br>

    </form>
    <div id="mostrar__Prod">
</div>
  </div>  

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>